<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								類型：<input type="text" name="typeName"/>
							</li>
							<li>
								是否售罄：
								<select name="isSellOut" >
								    <option value=""></option>
								    <option value="no">否</option>
								    <option value="yes">是</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:menuFood:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="api:menuFood:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="api:menuFood:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
        <script type="text/javascript" src="../../../util.js"></script>
    
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('api:menuFood:edit')}]];
        var removeFlag = [[${@permission.hasPermi('api:menuFood:remove')}]];
        var prefix = ctx + "system/menuFood";


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "餐牌",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '序號',
					visible: false
				},
		        {
					field : 'name', 
					title : '名稱',
				},
				{
					field : 'title', 
					title : '標題',
					sortable: true
				},
				{
					field : 'describes', 
					title : '描述',
					sortable: true
				},
				{
					field : 'typeName', 
					title : '類型',
					sortable: true
				},
				{
					field : 'price', 
					title : '價格',
					 formatter: function(value, row, index) {
						 return value +" (HKD)"
					 }
				},{
					field : 'picUrl', 
					title : '圖片',
					formatter:function(value,row,index){
						if(value){
						  return '<a href="javascript:void(0)" onclick=openImg("'+value+'")>查看圖片 </a>';
						}
					}
				},{
					field : 'isHot', 
					title : '推送類型',
					formatter: function(value, row, index) {
                    	if(value =="0"){
                    		return  "普通";
                    	}else if(value =="1")
                    	{
                    		return  "热门";
                    	}else if(value =="2")
                    	{
                    		return  "特别优惠";
                    	}else if(value =="3"){
                    		return "精選商品";
                    	}
                    }
				},
				{
					field : 'isSellOut', 
					title : '是否售罄',
					formatter: function(value, row, index) {
                    	if(value =="yes"){
                    		return  "是";
                    	}
                    	return "否";
                    }
				},
				{
					field : 'isValid', 
					title : '是否有效',
					formatter: function(value, row, index) {
                    	if(value =="yes"){
                    		return  "有效";
                    	}
                    	return "無效";
                    }
				},
				{
					field : 'createDate', 
					title : '創建日期',
					sortable: true
				},
				
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>編輯</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>