<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BranchStoreRegionMapper">
    
    <resultMap type="BranchStoreRegion" id="BranchStoreRegionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="picUrl"    column="pic_url"    />
    </resultMap>
	
	<sql id="selectBranchStoreRegionVo">
        select id, name, pic_url from branch_store_region
    </sql>
	
    <select id="selectBranchStoreRegionList" parameterType="BranchStoreRegion" resultMap="BranchStoreRegionResult">
        <include refid="selectBranchStoreRegionVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="picUrl != null  and picUrl != '' "> and pic_url = #{picUrl}</if>
         </where>
         order by id desc
    </select>
    
    <select id="selectBranchStoreRegionById" parameterType="Integer" resultMap="BranchStoreRegionResult">
        <include refid="selectBranchStoreRegionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBranchStoreRegion" parameterType="BranchStoreRegion" useGeneratedKeys="true" keyProperty="id">
        insert into branch_store_region
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name,</if>
			<if test="picUrl != null  and picUrl != ''  ">pic_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="picUrl != null  and picUrl != ''  ">#{picUrl},</if>
         </trim>
    </insert>
	 
    <update id="updateBranchStoreRegion" parameterType="BranchStoreRegion">
        update branch_store_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="picUrl != null  and picUrl != ''  ">pic_url = #{picUrl},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteBranchStoreRegionById" parameterType="Integer">
        delete from branch_store_region where id = #{id}
    </delete>
	
    <delete id="deleteBranchStoreRegionByIds" parameterType="String">
        delete from branch_store_region where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>