<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IntegralRoleMapper">
    
    <resultMap type="IntegralRole" id="IntegralRoleResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="descs"    column="descs"    />
        <result property="menmType"    column="menm_type"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="priority"    column="priority"    />
        <result property="createDate"    column="create_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isValid"    column="is_valid"    />
        <result property="integralType"    column="integral_type"    />
        <result property="amount"    column="amount"    />
        <result property="scoreValue"    column="score_value"    />
    </resultMap>
	
	<sql id="selectIntegralRoleVo">
        select id, title, descs, menm_type, begin_time, end_time, priority, create_date, create_by, update_date, update_by, is_valid, integral_type, amount, score_value from integral_role
    </sql>
	
    <select id="selectIntegralRoleList" parameterType="IntegralRole" resultMap="IntegralRoleResult">
        <include refid="selectIntegralRoleVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="descs != null  and descs != '' "> and descs = #{descs}</if>
             <if test="menmType != null "> and menm_type = #{menmType}</if>
             <if test="beginTime != null "> and begin_time = #{beginTime}</if>
             <if test="endTime != null "> and end_time = #{endTime}</if>
             <if test="priority != null "> and priority = #{priority}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="isValid != null "> and is_valid = #{isValid}</if>
             <if test="integralType != null "> and integral_type = #{integralType}</if>
         </where>
         order by id desc
    </select>
    
    <select id="selectIntegralRoleById" parameterType="Integer" resultMap="IntegralRoleResult">
        <include refid="selectIntegralRoleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertIntegralRole" parameterType="IntegralRole" useGeneratedKeys="true" keyProperty="id">
        insert into integral_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title,</if>
			<if test="descs != null  and descs != ''  ">descs,</if>
			<if test="menmType != null  ">menm_type,</if>
			<if test="beginTime != null  ">begin_time,</if>
			<if test="endTime != null  ">end_time,</if>
			<if test="priority != null  ">priority,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="isValid != null  ">is_valid,</if>
			<if test="integralType != null  ">integral_type,</if>
			<if test="amount != null  ">amount,</if>
			<if test="scoreValue != null  ">score_value,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="descs != null  and descs != ''  ">#{descs},</if>
			<if test="menmType != null  ">#{menmType},</if>
			<if test="beginTime != null  ">#{beginTime},</if>
			<if test="endTime != null  ">#{endTime},</if>
			<if test="priority != null  ">#{priority},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="isValid != null  ">#{isValid},</if>
			<if test="integralType != null  ">#{integralType},</if>
			<if test="amount != null  ">#{amount},</if>
			<if test="scoreValue != null  ">#{scoreValue},</if>
         </trim>
    </insert>
	 
    <update id="updateIntegralRole" parameterType="IntegralRole">
        update integral_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="descs != null  and descs != ''  ">descs = #{descs},</if>
            <if test="menmType != null  ">menm_type = #{menmType},</if>
            <if test="beginTime != null  ">begin_time = #{beginTime},</if>
            <if test="endTime != null  ">end_time = #{endTime},</if>
            <if test="priority != null  ">priority = #{priority},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="isValid != null  ">is_valid = #{isValid},</if>
            <if test="integralType != null  ">integral_type = #{integralType},</if>
            <if test="amount != null  ">amount = #{amount},</if>
            <if test="scoreValue != null  ">score_value = #{scoreValue},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteIntegralRoleById" parameterType="Integer">
        delete from integral_role where id = #{id}
    </delete>
	
    <delete id="deleteIntegralRoleByIds" parameterType="String">
        delete from integral_role where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>