<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MenuFoodExchangeMapper">
    
    
    <resultMap type="MenuFoodExchange" id="MenuFoodExchangeResult">
        <result property="id"    column="id"    />
        <result property="menuFoodId"    column="menu_food_id"    />
        <result property="menuFoodName"    column="menu_food_name"    />
        <result property="menuFoodPic"    column="menu_food_pic"    />
        <result property="membersId"    column="members_id"    />
        <result property="menbersName"    column="menbers_name"    />
        <result property="scord"    column="scord"    />
        <result property="createDate"    column="create_date"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="takeEffectDate"    column="take_effect_date"    />
        <result property="invalidDate"    column="invalid_date"    />
        <result property="isVaild"    column="is_vaild"    />
        <result property="exchangeStatus"    column="exchange_status"    />
        <result property="couponCode"    column="coupon_code"    />
        <result property="rulesType"    column="rules_type"    />
        <result property="spareField1"    column="spare_field1"    />
        <result property="spareField2"    column="spare_field2"    />
        <result property="spareField3"    column="spare_field3"    />
        <result property="spareField4"    column="spare_field4"    />
        <result property="spareField5"    column="spare_field5"    />
        <result property="spareField6"    column="spare_field6"    />
        <result property="spareField7"    column="spare_field7"    />
    </resultMap>
	
	<sql id="selectMenuFoodExchangeVo">
        select id, menu_food_id, menu_food_name, menu_food_pic, members_id, menbers_name, scord, create_date, coupon_id, coupon_type, take_effect_date, invalid_date, is_vaild, exchange_status, coupon_code, rules_type, spare_field1, spare_field2, spare_field3, spare_field4, spare_field5, spare_field6, spare_field7 from menu_food_exchange
    </sql>
	
    <select id="selectMenuFoodExchangeList" parameterType="MenuFoodExchange" resultMap="MenuFoodExchangeResult">
        <include refid="selectMenuFoodExchangeVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="menuFoodId != null "> and menu_food_id = #{menuFoodId}</if>
             <if test="menuFoodName != null  and menuFoodName != '' "> and menu_food_name = #{menuFoodName}</if>
             <if test="menuFoodPic != null  and menuFoodPic != '' "> and menu_food_pic = #{menuFoodPic}</if>
             <if test="membersId != null "> and members_id = #{membersId}</if>
             <if test="menbersName != null  and menbersName != '' "> and menbers_name = #{menbersName}</if>
             <if test="scord != null "> and scord = #{scord}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="couponId != null "> and coupon_id = #{couponId}</if>
             <if test="couponType != null "> and coupon_type = #{couponType}</if>
             <if test="takeEffectDate != null  and takeEffectDate != '' "> and take_effect_date = #{takeEffectDate}</if>
             <if test="invalidDate != null  and invalidDate != '' "> and invalid_date = #{invalidDate}</if>
             <if test="isVaild != null  and isVaild != '' "> and is_vaild = #{isVaild}</if>
             <if test="exchangeStatus != null "> and exchange_status = #{exchangeStatus}</if>
             <if test="couponCode != null  and couponCode != '' "> and coupon_code = #{couponCode}</if>
             <if test="rulesType != null "> and rules_type = #{rulesType}</if>
             <if test="spareField1 != null  and spareField1 != '' "> and spare_field1 = #{spareField1}</if>
             <if test="spareField2 != null  and spareField2 != '' "> and spare_field2 = #{spareField2}</if>
             <if test="spareField3 != null  and spareField3 != '' "> and spare_field3 = #{spareField3}</if>
             <if test="spareField4 != null  and spareField4 != '' "> and spare_field4 = #{spareField4}</if>
             <if test="spareField5 != null  and spareField5 != '' "> and spare_field5 = #{spareField5}</if>
             <if test="spareField6 != null  and spareField6 != '' "> and spare_field6 = #{spareField6}</if>
             <if test="spareField7 != null  and spareField7 != '' "> and spare_field7 = #{spareField7}</if>
         </where>
         order by id desc
    </select>
    
    <select id="selectMenuFoodExchangeById" parameterType="Integer" resultMap="MenuFoodExchangeResult">
        <include refid="selectMenuFoodExchangeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMenuFoodExchange" parameterType="MenuFoodExchange" useGeneratedKeys="true" keyProperty="id">
        insert into menu_food_exchange
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuFoodId != null  ">menu_food_id,</if>
			<if test="menuFoodName != null  and menuFoodName != ''  ">menu_food_name,</if>
			<if test="menuFoodPic != null  and menuFoodPic != ''  ">menu_food_pic,</if>
			<if test="membersId != null  ">members_id,</if>
			<if test="menbersName != null  and menbersName != ''  ">menbers_name,</if>
			<if test="scord != null  ">scord,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="couponId != null  ">coupon_id,</if>
			<if test="couponType != null  ">coupon_type,</if>
			<if test="takeEffectDate != null  and takeEffectDate != ''  ">take_effect_date,</if>
			<if test="invalidDate != null  and invalidDate != ''  ">invalid_date,</if>
			<if test="isVaild != null  and isVaild != ''  ">is_vaild,</if>
			<if test="exchangeStatus != null  ">exchange_status,</if>
			<if test="couponCode != null  and couponCode != ''  ">coupon_code,</if>
			<if test="rulesType != null  ">rules_type,</if>
			<if test="spareField1 != null  and spareField1 != ''  ">spare_field1,</if>
			<if test="spareField2 != null  and spareField2 != ''  ">spare_field2,</if>
			<if test="spareField3 != null  and spareField3 != ''  ">spare_field3,</if>
			<if test="spareField4 != null  and spareField4 != ''  ">spare_field4,</if>
			<if test="spareField5 != null  and spareField5 != ''  ">spare_field5,</if>
			<if test="spareField6 != null  and spareField6 != ''  ">spare_field6,</if>
			<if test="spareField7 != null  and spareField7 != ''  ">spare_field7,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuFoodId != null  ">#{menuFoodId},</if>
			<if test="menuFoodName != null  and menuFoodName != ''  ">#{menuFoodName},</if>
			<if test="menuFoodPic != null  and menuFoodPic != ''  ">#{menuFoodPic},</if>
			<if test="membersId != null  ">#{membersId},</if>
			<if test="menbersName != null  and menbersName != ''  ">#{menbersName},</if>
			<if test="scord != null  ">#{scord},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="couponId != null  ">#{couponId},</if>
			<if test="couponType != null  ">#{couponType},</if>
			<if test="takeEffectDate != null  and takeEffectDate != ''  ">#{takeEffectDate},</if>
			<if test="invalidDate != null  and invalidDate != ''  ">#{invalidDate},</if>
			<if test="isVaild != null  and isVaild != ''  ">#{isVaild},</if>
			<if test="exchangeStatus != null  ">#{exchangeStatus},</if>
			<if test="couponCode != null  and couponCode != ''  ">#{couponCode},</if>
			<if test="rulesType != null  ">#{rulesType},</if>
			<if test="spareField1 != null  and spareField1 != ''  ">#{spareField1},</if>
			<if test="spareField2 != null  and spareField2 != ''  ">#{spareField2},</if>
			<if test="spareField3 != null  and spareField3 != ''  ">#{spareField3},</if>
			<if test="spareField4 != null  and spareField4 != ''  ">#{spareField4},</if>
			<if test="spareField5 != null  and spareField5 != ''  ">#{spareField5},</if>
			<if test="spareField6 != null  and spareField6 != ''  ">#{spareField6},</if>
			<if test="spareField7 != null  and spareField7 != ''  ">#{spareField7},</if>
         </trim>
    </insert>
	 
    <update id="updateMenuFoodExchange" parameterType="MenuFoodExchange">
        update menu_food_exchange
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuFoodId != null  ">menu_food_id = #{menuFoodId},</if>
            <if test="menuFoodName != null  and menuFoodName != ''  ">menu_food_name = #{menuFoodName},</if>
            <if test="menuFoodPic != null  and menuFoodPic != ''  ">menu_food_pic = #{menuFoodPic},</if>
            <if test="membersId != null  ">members_id = #{membersId},</if>
            <if test="menbersName != null  and menbersName != ''  ">menbers_name = #{menbersName},</if>
            <if test="scord != null  ">scord = #{scord},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="couponId != null  ">coupon_id = #{couponId},</if>
            <if test="couponType != null  ">coupon_type = #{couponType},</if>
            <if test="takeEffectDate != null  and takeEffectDate != ''  ">take_effect_date = #{takeEffectDate},</if>
            <if test="invalidDate != null  and invalidDate != ''  ">invalid_date = #{invalidDate},</if>
            <if test="isVaild != null  and isVaild != ''  ">is_vaild = #{isVaild},</if>
            <if test="exchangeStatus != null  ">exchange_status = #{exchangeStatus},</if>
            <if test="couponCode != null  and couponCode != ''  ">coupon_code = #{couponCode},</if>
            <if test="rulesType != null  ">rules_type = #{rulesType},</if>
            <if test="spareField1 != null  and spareField1 != ''  ">spare_field1 = #{spareField1},</if>
            <if test="spareField2 != null  and spareField2 != ''  ">spare_field2 = #{spareField2},</if>
            <if test="spareField3 != null  and spareField3 != ''  ">spare_field3 = #{spareField3},</if>
            <if test="spareField4 != null  and spareField4 != ''  ">spare_field4 = #{spareField4},</if>
            <if test="spareField5 != null  and spareField5 != ''  ">spare_field5 = #{spareField5},</if>
            <if test="spareField6 != null  and spareField6 != ''  ">spare_field6 = #{spareField6},</if>
            <if test="spareField7 != null  and spareField7 != ''  ">spare_field7 = #{spareField7},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMenuFoodExchangeById" parameterType="Integer">
        delete from menu_food_exchange where id = #{id}
    </delete>
	
    <delete id="deleteMenuFoodExchangeByIds" parameterType="String">
        delete from menu_food_exchange where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>