<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								賬號：<input type="text" name="accNo"/>
							</li>

							<li>
								交易類型：<input type="text" name="tranType"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:accountFlow:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:accountFlow:export">
						<i class="fa fa-download"></i> 導出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:accountFlow:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:accountFlow:remove')}]];
        var prefix = ctx + "system/accountFlow";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "賬戶流水",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序號',
					visible: false
				},
				{
					field : 'accNo', 
					title : '賬號',
					sortable: true
				},
				{
					field : 'tranType', 
					title : '交易類型',
					formatter: function(value, row, index) {
                    	if(value =="1"){
                    		return  "收入";
                    	}else{
                    		return  "支出";
                    	}
                    }
				},
				{
					field : 'money', 
					title : '交易金額',
					sortable: true
				},
				{
					field : 'tranDes', 
					title : '交易描述',
					sortable: true
				},
				{
					field : 'beforeMoney', 
					title : '交易之前金額',
					sortable: true
				},
				{
					field : 'afterMoney', 
					title : '交易之后金額',
					sortable: true
				},
				{
					field : 'createDate', 
					title : '創建創建人',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '創建用戶',
					sortable: true
				},
				{
					field : 'menuAccNo', 
					title : '會員賬號',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	/* var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>編輯</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join(''); */
		            	return ""; 
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>