<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-order-edit" th:object="${order}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易渠道：</label>
				<div class="col-sm-8">
					<input id="payChannel" name="payChannel" th:field="*{payChannel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">購買VIP會員：</label>
				<div class="col-sm-8">
					<input id="orderDesc" name="orderDesc" th:field="*{orderDesc}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易唯一碼,交易渠道返回：</label>
				<div class="col-sm-8">
					<input id="token" name="token" th:field="*{token}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付賬號：</label>
				<div class="col-sm-8">
					<input id="email" name="email" th:field="*{email}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">貨幣央視：</label>
				<div class="col-sm-8">
					<input id="currency" name="currency" th:field="*{currency}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易金額：</label>
				<div class="col-sm-8">
					<input id="ammount" name="ammount" th:field="*{ammount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易用戶ID：</label>
				<div class="col-sm-8">
					<input id="tranUser" name="tranUser" th:field="*{tranUser}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易用戶名稱：</label>
				<div class="col-sm-8">
					<input id="tranUserName" name="tranUserName" th:field="*{tranUserName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易用戶電話：</label>
				<div class="col-sm-8">
					<input id="tranUserPhone" name="tranUserPhone" th:field="*{tranUserPhone}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易狀態，交易渠道返回：</label>
				<div class="col-sm-8">
					<input id="tranStatus" name="tranStatus" th:field="*{tranStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易結果返回：</label>
				<div class="col-sm-8">
					<input id="tranMsg" name="tranMsg" th:field="*{tranMsg}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">創建時間：</label>
				<div class="col-sm-8">
					<input id="createDate" name="createDate" th:field="*{createDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">創建人：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" th:field="*{createBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/order";
		$("#form-order-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-order-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
